---
import { videoInicio } from "@/lib/data";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import Specialties from "@/sections/Specialties.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Message from "@/sections/Message.astro";
import Reserve from "@/sections/Reserve.astro";
---

<BaseLayout
  title="Inicio"
  desc="Somos un restaurante ubicado en la provincia de Pisco, con más de 40 años de historia, somos expertos en la sazón marina y parrillas."
>
  <Hero video={videoInicio} />
  <Experience />
  <Specialties />

  <section class="relative z-20 py-18 md:py-32 bg-surface-accent/50">
    <div class="container mx-auto px-4">
      <Reserve />
    </div>
  </section>

  <Testimonials />
  <Message />
</BaseLayout>

<script>
  const observerOptions = {
    threshold: 0.1,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("active");
      }
    });
  }, observerOptions);

  document.querySelectorAll(".reveal").forEach((el) => observer.observe(el));
</script>
