---
import { imageReservar } from "@/lib/data";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Reserve from "@/sections/Reserve.astro";
import Heading from "@/components/Heading.astro";
---

<BaseLayout
  title="Reservar Mesa"
  desc="Asegura tu experiencia gastronómica frente al mar. Reservas en línea para nuestro salón principal y terraza."
>
  <header
    class="relative h-[60vh] flex items-center justify-center overflow-hidden bg-surface-dark"
  >
    <div class="absolute inset-0 z-0">
      <Image
        src={imageReservar}
        alt="Ambiente Pisco & Mar"
        width={900}
        height={600}
        class="w-full h-full object-cover opacity-40 scale-105"
        loading="eager"
      />
      <div
        class="absolute inset-0 bg-linear-to-b from-surface-dark/80 via-transparent via-80% to-surface-light"
      >
      </div>
    </div>

    <Heading
      overline="Reserva tu Lugar"
      title="La Mesa está"
      highlight="Lista"
    />
  </header>

  <main class="relative z-20 -mt-24 pb-32">
    <div class="container mx-auto px-4">
      <Reserve />
    </div>
  </main>
</BaseLayout>
