---
import { Image } from "astro:assets";
---

<section class="py-18 md:py-32 bg-white overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="flex flex-col-reverse lg:flex-row items-center gap-8 md:gap-16">
      <div class="lg:w-1/2 relative reveal">
        <div
          class="absolute -top-10 -left-10 w-64 h-64 bg-brands-primary/10 rounded-full blur-3xl"
        >
        </div>
        <Image
          src="/assets/images/historia-antes.png"
          alt="Historia La Viña"
          width={250}
          height={250}
          loading="lazy"
          class="relative z-10 rounded-2xl shadow-2xl w-full h-[500px] object-cover"
        />
        <div
          class="absolute -bottom-8 -right-8 bg-surface-dark p-8 rounded-2xl shadow-xl z-20 hidden md:block"
        >
          <p class="text-brands-primary text-5xl font-title font-bold italic">
            40+
          </p>
          <p class="text-white uppercase tracking-widest text-xs mt-2">
            Años de Tradición
          </p>
        </div>
      </div>

      <div class="lg:w-1/2 reveal delay-200">
        <span
          class="text-brands-primary font-bold tracking-[0.3em] uppercase text-xs mb-4 block"
          >Nuestra Herencia</span
        >
        <h2 class="text-5xl font-title font-bold text-ink-primary mb-8 italic">
          Donde el fuego <br /> encuentra al mar.
        </h2>
        <p class="text-ink-muted text-lg leading-relaxed mb-6">
          Nacimos en el corazón de Pisco con una misión clara: honrar los
          ingredientes de nuestra tierra. Cada plato es un tributo a la
          paciencia de las brasas y la frescura del Pacífico.
        </p>
        <p class="text-ink-muted text-lg leading-relaxed italic">
          "No solo servimos comida, compartimos la historia de nuestra familia
          en cada mesa."
        </p>
      </div>
    </div>
  </div>
</section>
