<section class="py-16 bg-surface-dark overflow-hidden relative">
  <div
    class="absolute inset-0 opacity-15 bg-[url('/assets/images/pattern-grill.png')] bg-repeat bg-size-[600px] blur-[2px]"
  >
  </div>

  <div
    class="absolute inset-0 bg-radial-[at_center] from-transparent via-surface-dark/60 to-surface-dark"
  >
  </div>

  <div class="container mx-auto px-4 relative z-10 text-center">
    <div class="w-12 h-px bg-brands-primary/50 mx-auto mb-8"></div>

    <h2
      class="text-white text-3xl md:text-3xl lg:text-4xl font-title font-light italic max-w-5xl mx-auto drop-shadow-2xl"
    >
      "El secreto no está solo en la receta, <br class="hidden md:block" />
      sino en el <span class="text-brands-primary font-bold not-italic"
        >respeto por el producto."</span
      >
    </h2>

    <div class="w-12 h-px bg-brands-primary/50 mx-auto mt-8"></div>
  </div>
</section>
