---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
import Cart from "@/components/Cart.astro";

interface Props {
  title: string;
  desc: string;
}

const {
  title,
  desc = "Más de 40 años ofreciendo la mejor cocina marina y brasas en Pisco. Tradición familiar desde 1986, ingredientes frescos y una experiencia gastronómica inolvidable.",
} = Astro.props;
---

<html lang="es" class="light" style="color-scheme: light;">
  <head>
    <BaseHead />
    <title>{title}</title>
    <meta name="description" content={desc} />
  </head>

  <body
    class="bg-surface-light selection:bg-brands-primary selection:text-black"
  >
    <Navbar />
    <slot />
    <Footer />

    <Cart />
  </body>
</html>
